pre {
  padding: 1em;
  border-radius: 8px;
  text-wrap: pretty;
  margin-bottom: var(--content-padding);

  & > code {
    background-color: inherit;
    color: var(--primary-color);
    padding: 0;
    display: inline;
  }
}

code {
  background-color: var(--light-gray);
  color: var(--secondary-color);
  padding: 0 2px;
  margin: 0 2px;
  border-radius: 0.3em;
  display: inline-block;
  font-size: 18px;
}

.blog-content a {
  color: var(--accent-color);
  text-decoration: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.blog-content a:hover {
  text-decoration: underline;
}

h2,
h3 {
  margin-top: calc(var(--content-padding) * 1.5);
  margin-bottom: calc(var(--content-padding) / 2);
  background-image: url("/blue-noise.png");
  background-clip: text;
  color: rgb(0 0 0 / 0%);
}

img {
  max-width: 80%;
  height: auto;
  margin: auto;
}

@media screen and (max-width: 800px) {
  code {
    font-size: 12px;
  }
}
