pre {
  padding: 1em;
  border-radius: 8px;
  text-wrap: pretty;
  margin-bottom: var(--content-space-lg);

  & > code {
    background-color: inherit;
    color: var(--primary-color);
    padding: 0;
    display: inline;
  }
}

.post-timestamp {
  background-color: var(--light-gray);
  padding: 0.2em 0.5em;
  border-radius: 0.9em;
  display: inline-block;
  margin-left: auto;
  corner-shape: squircle;
}

code {
  background-color: var(--light-gray);
  color: var(--secondary-color);
  padding: 0 2px;
  margin: 0 2px;
  border-radius: 0.3em;
  display: inline-block;
  font-size: 18px;
}

.blog-content a {
  color: var(--accent-color);
  text-decoration: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.blog-content a:hover {
  text-decoration: underline;
}

h2,
h3 {
  margin-top: calc(var(--content-space-lg));
  margin-bottom: var(--content-space-sm);
}

img {
  max-width: 80%;
  height: auto;
  margin: auto;
}

@media screen and (max-width: 800px) {
  code {
    font-size: 12px;
  }
}
