@import "./reset.css";

:root {
  --primary-color: #fff;
  --secondary-color: #000;
  --accent-color: royalblue;
  --light-gray: lightgray;
  --content-padding: 24px;
  --border-width: 1.5px;
  font-family: Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: "Suisse";
  src: url("/SuisseIntl-Book.otf") format("opentype");
}

/* Global Tag Styles */
html,
body {
  background-color: var(--primary-color);
  background-image: url("/noise-light.png");
  color: var(--secondary-color);
}

body {
  background: transparent;
  margin: auto;
  max-width: 800px;
  min-height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--content-padding) 0;
  width: 60%;
  background-color: var(--primary-color);
  font-size: 22px;
}

main {
  flex: 1;
}

h1 {
  font-size: 62px;
  line-height: 75px;
  word-wrap: normal;
  background-image: url("/blue-noise.png");
  background-clip: text;
  color: rgb(0 0 0 / 0%);
}

h2 {
  background-image: url("/blue-noise.png");
  background-clip: text;
  color: rgb(0 0 0 / 0%);
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5;
  margin-bottom: var(--content-padding);
  text-wrap: pretty;
}

/* Global Classes */

.container {
  margin-bottom: var(--content-padding);
}

.bordered {
  border: var(--border-width) solid var(--secondary-color);
  border-radius: 7em;
  transition: all 0.2s ease;
  corner-shape: squircle;
}

.bordered_active:hover {
  transform: translateY(-6px) scale(1.01);
  /* rotate: 2deg; */
  box-shadow: 3px 5px var(--secondary-color);
}

.divider {
  animation: growFromCenter 1s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  width: 100%;
  height: var(--border-width);
  background-color: var(--secondary-color);
}

.fadeIn {
  opacity: 0%;
  animation: fadeInAndMoveDown 1s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

/* Animations */

@keyframes growFromCenter {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes fadeInAndMoveDown {
  0% {
    opacity: 0%;
    transform: translateY(-15px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

/* Media Queries */

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 48px;
    line-height: normal;
  }

  body {
    font-size: 18px;
  }

  p {
    line-height: normal;
    padding: 0;
  }
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 36px;
    line-height: normal;
  }

  body {
    font-size: 0.9em;
    line-height: normal;
    max-height: fit-content;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --content-padding: 15px;
  }

  body {
    width: 92%;
  }
}
