@import "./reset.css";

:root {
  --primary-color: #fff;
  --secondary-color: #000;
  --accent-color: royalblue;
  --light-gray: lightgray;
  --content-padding: 30px;
  font-family: Suisse, Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: "Suisse";
  src: url("/SuisseIntl-Book.otf") format("opentype");
}

/* Global Tag Styles */

html,
body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

body {
  margin: auto;
  max-width: 800px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--content-padding) 0;
  width: 60%;
  background-color: var(--primary-color);
  font-size: 22px;
}

button {
  background-color: var(--accent-color);
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.3s ease;
}

h1 {
  font-size: 64px;
  line-height: 75px;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5;
  margin-bottom: var(--content-padding);
  text-wrap: pretty;
}

/* Global Classes */

.container {
  margin-bottom: var(--content-padding);
}

.bordered {
  border: solid 2px var(--secondary-color);
  border-radius: 8px;
  transition: all 0.2s ease;
}

.bordered_active:hover {
  transform: translateY(-8px) scale(1.01);
  rotate: 2deg;
  box-shadow: 4px 6px var(--secondary-color);
}

.divider {
  animation: growFromCenter 1s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  width: 100%;
  height: 2px;
  background-color: var(--secondary-color);
}

.fadeIn {
  opacity: 0%;
  animation: fadeInAndMoveDown 1s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

/* Animations */

@keyframes growFromCenter {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes fadeInAndMoveDown {
  0% {
    opacity: 0%;
    transform: translateY(-15px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

/* Media Queries */

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 48px;
    line-height: normal;
  }

  body {
    font-size: 18px;
  }

  p {
    line-height: normal;
    padding: 0;
  }
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 36px;
    line-height: normal;
  }

  body {
    font-size: 0.9em;
    line-height: normal;
    justify-content: start;
    max-height: fit-content;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --content-padding: 20px;
  }

  body {
    width: 90%;
  }
}
