@import "./reset.css";

:root {
  font-family: Helvetica, Arial, sans-serif;

  /* Colors */
  --primary-color: #fff;
  --secondary-color: #000;
  --accent-color: royalblue;
  --light-gray: lightgray;

  /* Spacing and Sizing */
  --content-space-lg: 48px;
  --content-space-md: 24px;
  --content-space-sm: 12px;
  --content-space-xsm: 8px;
  --border-width: 1.5px;

  /* Font Sizes */
  --header-font-size: 3.6em;
  --sub-header-font-size: 1.6em;
  --body-font-size: 1em;
}

/* Global Tag Styles */
html,
body {
  background-color: var(--primary-color);
  background-image: url("/noise-light.png");
  color: var(--secondary-color);
}

body {
  background: transparent;
  margin: auto;
  max-width: 800px;
  min-height: 100dvh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: var(--content-space-md);
  width: 60%;
  font-size: 22px;
}

main {
  flex: 1;
}

h1 {
  font-size: var(--header-font-size);
  line-height: 1.2;
  word-wrap: normal;
  background-image: url("/blue-noise.png");
  background-clip: text;
  color: rgb(0 0 0 / 0%);
  font-weight: 600;
}

h2 {
  font-size: var(--sub-header-font-size);
  background-image: url("/blue-noise.png");
  background-clip: text;
  color: rgb(0 0 0 / 0%);
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5;
  margin-bottom: var(--content-space-sm);
  font-size: var(--body-font-size);
}

/* Global Classes */

.container {
  margin-bottom: var(--content-space-lg);
}

.bordered {
  border: var(--border-width) solid var(--secondary-color);
  border-radius: 2.1rem;
  transition: all 0.2s ease;
  corner-shape: squircle;
}

.fadeIn {
  opacity: 0%;
  animation: fadeInAndMoveDown 1s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

/* Animations */

@keyframes growFromCenter {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0.5);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes fadeInAndMoveDown {
  0% {
    opacity: 0%;
    transform: translateY(-15px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

/* Media Queries */

@media (hover: hover) {
  /* Target only devices with hover ability */

  .bordered_active:hover,
  .bordered_active:active {
    transform: translateY(-6px) scale(1.01);
    box-shadow: 3px 5px var(--secondary-color);
  }
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 48px;
    line-height: normal;
  }

  body {
    font-size: 18px;
  }

  p {
    line-height: normal;
    padding: 0;
  }
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 36px;
    line-height: normal;
  }

  body {
    font-size: 0.9em;
    line-height: normal;
    max-height: fit-content;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --content-space-lg: 24px;
  }

  body {
    width: 93%;
  }
}
