.hero-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1.2rem;
}

.hero-image-container {
  background-color: var(--accent-color);
  margin-right: 10px;
  overflow: hidden;
  height: 200px;
  background-image: url("/noise-light.png");
  aspect-ratio: 3 / 2.5;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media screen and (max-width: 1000px) {
  .hero-image-container img {
    object-fit: cover;
  }
}

@media screen and (max-width: 800px) {
  .hero-wrapper {
    gap: 1rem;
  }

  .hero-image-container {
    width: 200px;
    height: 150px;
    margin-right: 10px;
  }
}
