.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header-image-container {
  border-radius: 8px;
  background-color: var(--accent-color);
  width: max-content;
  margin-right: 10px;
  overflow: hidden;
  height: 200px;
  background-image: url("/noise-light.png");

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.links {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.links > li {
  border-radius: 8px;
  text-wrap: nowrap;
  padding: 0 5px;
  background-color: var(--accent-color);
  color: var(--primary-color);
}

@media screen and (max-width: 1000px) {
  .links > li {
    text-wrap: nowrap;
  }

  .links {
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 800px) {
  .header-image-container {
    width: 200px;
    height: 150px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 600px) {
  .links {
    justify-content: space-between;
  }

  .links > li {
    padding: 0 1px;
  }
}
