---
import Layout from "../layouts/Layout.astro";
import "../styles/globals.css";
import "../styles/index.css";
---

<Layout>
  <div class="header container">
    <div class="header-image-container">
      <img src="/me-no-bg.png" alt="I look like this" />
    </div>
    <h1>Hello! <br /> My name is Nick.</h1>
  </div>
  <main>
    <div class="container">
      <p>
        I'm a software engineer and web developer based in Portland, OR and I
        specialize in the JavaScript and TypeScript ecosystem.
      </p>
      <p>
        I see programming as a creative craft, where problem solving meets
        creative thinking. Whether I’m architecting APIs or tweaking UI
        interactions, I enjoy solving problems and overcoming challenges with
        code.
      </p>
      <p>
        Outside of coding, you’ll usually find me skateboarding, making/eating
        pizza, playing soccer, or watching a movie.
      </p>
    </div>
  </main>
</Layout>

<style>
  h1 {
    color: var(--accent-color);
  }
</style>
