---
import Layout from "../layouts/Layout.astro";
import "../styles/globals.css";
---

<Layout>
  <header class="container">
    <div class="container">
      <ul class="links">
        <li>
          <a href="https://github.com/nickcosmo"> Github </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/nicholasclansing/"> LinkedIn </a>
        </li>
        <li><a href="mailto:nicklans92@gmail.com"> Email Me </a></li>
        <li><a href="https://dev.to/nickcosmo/">Blog</a></li>
      </ul>
    </div>
    <div class="container">
      <div class="divider"></div>
    </div>
    <div class="header">
      <img src="/me.png" alt="my headshot" />
      <h1>Hello! <br /> My name is Nick.</h1>
    </div>
  </header>
  <main>
    <div class="container">
      <p>
        Hi, I’m Nick! A software engineer and web developer based in Portland,
        OR. I specialize in the JavaScript and TypeScript ecosystem and I’m
        passionate about building products and features that solve hard problems
        and enhance user experiences.
      </p>
      <p>
        With over 3 years of hands-on experience, I’ve built and shipped
        production-grade applications that serve real users. I’m fluent in
        modern technologies and I enjoy collaborating with teams to turn ideas
        into robust digital products.
      </p>
      <p>
        I see programming as a creative craft, where problem solving meets
        creative thinking. Whether I’m architecting APIs or tweaking UI
        interactions, I find joy in solving problems and overcoming challenges
        with code.
      </p>
      <p>
        Outside of coding, you’ll usually find me skateboarding, eating pizza,
        playing soccer, or watching a movie.
      </p>
    </div>
  </main>
</Layout>
