<div class="divider-container">
  <div class="divider"></div>
</div>

<style>
  .divider-container {
    margin-bottom: var(--content-space-lg);
  }

  .divider {
    width: 100%;
    height: var(--border-width);
    background-color: var(--secondary-color);
  }
</style>
