---
import { ClientRouter } from "astro:transitions";
---

<ClientRouter />
<header class="container" transition:animate="none" transition:persist>
  <div>
    <p>
      nick<span
        style="background-image: url('/blue-noise.png'); background-clip: text; color: rgb(0 0 0 / 0%);"
        >cosmo</span
      >
    </p>

    <ul class="social-links">
      <li>
        <a
          href="https://github.com/nickcosmo"
          style="background-image: url(/github-mark.png);"></a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/nicholasclansing/"
          style="background-image: url(/InBug-Black.png);"></a>
      </li>
    </ul>
  </div>

  <ul class="nav-links">
    <li class="bordered bordered_active"><a href="/">HOME</a></li>
    <li class="bordered bordered_active"><a href="/blog">BLOG</a></li>
  </ul>
</header>

<style>
  div:first-child {
    display: flex;
    flex-direction: row;
  }

  p {
    font-size: 24px;
    font-weight: 600;
    padding: 0;
    margin: 0;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  ul {
    display: flex;
    padding: 0;
    list-style-type: none;
  }

  .social-links li {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .social-links a {
    text-decoration: none;
    width: 25px;
    height: 25px;
    object-fit: contain;
    background-size: cover;
    display: inline-block;
  }

  .social-links a:hover {
    opacity: 0.6;
  }

  .nav-links li {
    color: var(--secondary-color);
    margin: 0 5px;
    cursor: pointer;

    > a {
      text-decoration: none;
      display: block;
      margin: 1px 15px;
      height: 100%;
      color: var(--secondary-color);
    }
  }

  .nav-links li:last-child {
    margin-right: 0px;
  }

  @media (hover: none) {
    /* Target only devices with no hover ability */

    .nav-links li {
      transition: transform 0.2s ease;
      box-shadow: 3px 5px var(--secondary-color);
    }

    .nav-links li:active {
      transform: translateX(3px) translateY(4px);
      box-shadow: none;
    }
  }

  @media screen and (max-width: 800px) {
    p {
      font-size: 16px;
    }

    .social-links a {
      width: 15px;
      height: 15px;
    }

    .social-links li {
      margin-left: 8px;
    }

    .nav-links li {
      margin: 0 5px;
      font-size: 14px;

      > a {
        margin: 2px 15px;
      }
    }

    .nav-links li:last-child {
      margin-right: 0px;
    }
  }
</style>
