<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/pizza.ico" type="image/x-icon" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Nick Cosmo" />
    <title>Nick Cosmo</title>

    <!-- OG Tags -->
    <meta property="og:title" content="Nick Cosmo" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.nickcosmo.com/" />
    <meta
      property="og:description"
      content="I’m a software engineer and web developer based in Portland,
        OR. I specialize in the JavaScript and TypeScript ecosystem and I’m
        passionate about building products and features that solve hard problems
        and enhance user experiences."
    />
    <meta
      property="og:image"
      content="https://www.nickcosmo.com/og-image.png"
    />
    <meta property="og:image:alt" content="" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style></style>
