<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/pizza.ico" type="image/x-icon" />
    <meta name="generator" content={Astro.generator} />
    <title>Nick Cosmo</title>

    <meta property="og:title" content="Nick Cosmo" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.nickcosmo.com/" />
    <meta property="og:description" content="Nick Cosmo's personal website!" />
    <meta
      property="og:image"
      content="https://www.nickcosmo.com/og-image.png"
    />
    <meta property="og:image:alt" content="" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style></style>
